Copyright &copy; {{ site.time | date: "%Y" }} {{ site.title }}
<br />
<a href='https://alpha.app.net/timbuchwaldt' class='adn-button' rel='me' data-type='follow' data-width='220' data-height='38' data-user-id='@timbuchwaldt'>Follow me on App.net</a>
<script src='https://d2zh9g63fcvyrq.cloudfront.net/adn.js'></script>

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://farm.timbuchwaldt.de/piwik/" : "http://farm.timbuchwaldt.de/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 8);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://farm.timbuchwaldt.de/piwik/piwik.php?idsite=8" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->